;; Analyzed by ClojureScript 0.0-3211
{:imports nil, :requires {om.core om.core, om om.core}, :uses nil, :require-macros {om.core om.core, om om.core}, :use-macros nil, :excludes #{}, :doc "Mixins for Om made easy", :name om-tools.mixin}